.rounded-corners (@r1: 1em, @r2: 1em, @r3: 1em, @r4: 1em) {
    border-radius: @r1 @r2 @r3 @r4;
    -moz-border-radius: @r1 @r2 @r3 @r4;
    -webkit-border-radius: @r1 @r2 @r3 @r4;
}

.shadow (@distance: 0.5em, @color: #555){
    -moz-box-shadow: @distance @distance @distance @color;
    -webkit-box-shadow: @distance @distance @distance @color;
    box-shadow: @distance @distance @distance @color;
}

.clearfix {
    :after {
        content: ".";
        display: block;
        clear: both;
        height: 0px;
        overflow: hidden;
        visibility: hidden;
    }
}

body {
    background: #111;
    font-size: 14px;
    font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
    line-height: 1.4;
}


#MainContainer { 
    width: 40em;
    padding: 0 2em 2em;
    margin: 0 auto;
    background: white;
    color: #333;
    .rounded-corners(0, 0, 3em, 3em); 
    .clearfix;
    .shadow(1em, black);
}

a, a:link {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: #551A8B;
}

a:hover, a:active {
    text-decoration: none;
}

a.disabled {
    color: grey;
}

h1, h2, h3, h4, h5, h6 {
    clear: both;
    font-weight: bold;
    margin: 1.3em 0 0.6em;
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

h1 { font-size: 2em; margin: 0.5em 0; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4, h5, h6 { font-size: 1.2em; }

p { margin: 1em 0; }

ul, ol {
    margin: 0 3em;
}

q { 
    font-style: italic; 
    color: #333;
}
q:before { 
    content: "\201C"; 
}
q:after { content: "\201D"; }

ul {
    list-style: none;
    margin: 0;
    li.case {
        .clearfix;
        padding: 0.5em 1em;
        margin: 0 1em;
    }

    li.case.current {
        background: #bada55;
        padding: 1em;
        .rounded-corners;
    }
}


a.details {
    padding: 0.2em;
    display: block;
    float: left;
    margin: 0 0.7em 0 0;
    width: 3em;
    text-align: center;
    background: #999;
    .rounded-corners(0.3em, 0.3em, 0.3em, 0.3em);

    :link, :visited {
        color: white;
        text-decoration: none;
    }

    :hover, :active {
        background: #555;
    }
}

a.startWork {
    display: block;
    margin-left: 4.1em;
}

#Logout {
    display: block;
    float: left;
    background: black;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 1em;
    width: 4em;
    margin-bottom: 1em;
    text-align: center;
    .rounded-corners(0, 0, 1em, 1em);
}

#CurrentCase {
    display: block;
    float: left;
    background: #ccc;
    width: 30em;
    margin-left: 1em;
    margin-bottom: 1em;
    padding: 1em;
    color: #222;
    .rounded-corners(0, 0, 1em, 1em);
}

#CurrentCase .description {
    float: left;
}

#StopWork {
    display: block;
    float: right;
    padding: 0.5em 1em;
    margin: 0.5em 0 0 0.5em;
    color: white;
    background: rgba(255, 0, 0, 0.8);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    .rounded-corners(0.5em, 0.5em, 0.5em, 0.5em);
}

#ResolveCase {
    #StopWork;
    background: #4b911f;
    
    :hover, :active {
        background: #72dd2d;
    }
}

.close-case {
    #StopWork;
}
.unestimated {
    padding: 1em;
    .clearfix; 
    :nth-child(even) {
        background: #ddd;
    }

    .case { margin-left: 4.1em; }    
}

.estimates, .quick-intervals {
    margin: 0 0 1em 1em;
    float: right;


    li { 
        float: left;
        a {
            display: block;
            padding: 0.2em 0.5em;
            margin: 0 0.7em 0 0;
            background: #999;
            .rounded-corners(0.3em, 0.3em, 0.3em, 0.3em);

            :link, :visited {
                color: white;
                text-decoration: none;
            }

            :hover, :active {
                background: #555;
            }
        }

        a.disabled {
            background: #333;
            color: #999;
        }
    }
}

.quick-intervals li {
    a {
        background: #4b911f;
        
        :hover, :active {
            background: #72dd2d;
        }
    }
    a.disabled  {
        background: #72dd2d;
    }
}
