.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
}
body {
  background: #111111;
  font-size: 14px;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  line-height: 1.4;
}
#MainContainer {
  width: 40em;
  padding: 0 2em 2em;
  margin: 0 auto;
  background: white;
  color: #333333;
  border-radius: 0 0 3em 3em;
  -moz-border-radius: 0 0 3em 3em;
  -webkit-border-radius: 0 0 3em 3em;
  -moz-box-shadow: 1em 1em 1em black;
  -webkit-box-shadow: 1em 1em 1em black;
  box-shadow: 1em 1em 1em black;
}
#MainContainer:after {
  content: ".";
  display: block;
  clear: both;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
}
a {
  color: blue;
  text-decoration: underline;
}
a:link {
  color: blue;
  text-decoration: underline;
}
a:visited { color: #551a8b; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-weight: bold;
  margin: 1.3em 0 0.6em;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
h1 {
  font-size: 2em;
  margin: 0.5em 0;
}
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4, h5, h6 { font-size: 1.2em; }
p { margin: 1em 0; }
ul, ol { margin: 0 3em; }
q {
  font-style: italic;
  color: #333333;
}
q:before { content: "\201C"; }
q:after { content: "\201D"; }
.estimates { display: inline; }
.estimates a { padding: 0 1em; }
ul {
  list-style: none;
  margin: 0;
}
ul li.case {
  padding: 0.5em 1em;
  margin: 0 1em;
  clear: left;
}
ul li.current {
  background: #bada55;
  padding: 1em;
  border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 1em 1em 1em 1em;
}
a.details {
  padding: 0.2em;
  display: block;
  float: left;
  margin: 0 0.7em 0 0;
  width: 3em;
  text-align: center;
  background: #999999;
  border-radius: 0.3em 0.3em 0.3em 0.3em;
  -moz-border-radius: 0.3em 0.3em 0.3em 0.3em;
  -webkit-border-radius: 0.3em 0.3em 0.3em 0.3em;
}
a.details:link {
  color: white;
  text-decoration: none;
}
a.details:visited {
  color: white;
  text-decoration: none;
}
a.details:hover { background: #555555; }
a.details:active { background: #555555; }
a.startWork {
  display: block;
  margin-left: 4.1em;
}
#Logout {
  display: block;
  float: left;
  background: black;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 1em;
  width: 4em;
  margin-bottom: 1em;
  text-align: center;
  border-radius: 0 0 1em 1em;
  -moz-border-radius: 0 0 1em 1em;
  -webkit-border-radius: 0 0 1em 1em;
}
#CurrentCase {
  display: block;
  float: left;
  background: #cccccc;
  width: 30em;
  margin-left: 1em;
  margin-bottom: 1em;
  padding: 1em;
  color: #222222;
  border-radius: 0 0 1em 1em;
  -moz-border-radius: 0 0 1em 1em;
  -webkit-border-radius: 0 0 1em 1em;
}
#CurrentCase .description { float: left; }
#StopWork {
  display: block;
  float: right;
  padding: 0.5em 1em;
  margin: 0.5em 0 0 0.5em;
  color: white;
  background: rgba(255, 0, 0, 0.8);
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
}
